html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
    display: block;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

b {
    font-weight: bold;
}

img,
object,
embed {
    max-width: 100%;
}

ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

th {
    font-weight: bold;
    vertical-align: bottom;
}

td {
    font-weight: normal;
    vertical-align: top;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

pre {
    white-space: pre;
    /* CSS2 */
    white-space: pre-wrap;
    /* CSS 2.1 */
    white-space: pre-line;
    /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word;
    /* IE */
}

input[type='radio'] {
    vertical-align: text-bottom;
}

input[type='checkbox'] {
    vertical-align: bottom;
}

.ie7 input[type='checkbox'] {
    vertical-align: baseline;
}

.ie6 input {
    vertical-align: text-bottom;
}

select,
input,
textarea {
    font: 99% sans-serif;
}

table {
    font-size: inherit;
    font: 100%;
}

small {
    font-size: 85%;
}

strong {
    font-weight: bold;
}

td,
td img {
    vertical-align: top;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

pre,
code,
kbd,
samp {
    font-family: monospace, sans-serif;
}

.clickable,
label,
input[type='button'],
input[type='submit'],
input[type='file'],
button {
    cursor: pointer;
}

button,
input,
select,
textarea {
    margin: 0;
}

button,
input[type='button'] {
    width: auto;
    overflow: visible;
}

.ie7 img {
    -ms-interpolation-mode: bicubic;
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.row {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.row.right {
    -webkit-box-pack: end;
    justify-content: flex-end;
    -ms-flex-pack: end;
}

.content-md {
    max-width: 1010px;
    margin: 0 auto;
}

.content-lg {
    max-width: 1180px;
    margin: 0 auto;
}

.right {
    margin-left: auto;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.col-100 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.col-80 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
}

.col-70 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}

.col-60 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}

.col-50 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-40 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}

.col-30 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}

.col-25 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

body {
    background-color: #000;
    color: #fff;
    font-family: roboto, sans-serif;
}

.header {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    -webkit-transition: all cubic-bezier(0, 1.01, 0.12, 1.01) 1s;
    transition: all cubic-bezier(0, 1.01, 0.12, 1.01) 1s;
}

.header.up .logos,
.header.up .logo,
.header.up .menu {
    -webkit-transform: translate3d(0, -40px, 0) !important;
    transform: translate3d(0, -40px, 0) !important;
    opacity: 0 !important;
    -webkit-transition: all cubic-bezier(0, 1.01, 0.12, 1.01) 1s;
    transition: all cubic-bezier(0, 1.01, 0.12, 1.01) 1s;
}

.header .logos {
    z-index: 99;
    position: fixed;
    top: 80px;
    left: 6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all cubic-bezier(0, 1.01, 0.12, 1.01) 2s;
    transition: all cubic-bezier(0, 1.01, 0.12, 1.01) 2s;
}

.header.down {
    background-color: #000;
    background-color: #000;
}

.header.down .logos,
.header.down .logo,
.header.down .menu {
    -webkit-transform: translate3d(0, -40px, 0) !important;
    transform: translate3d(0, -40px, 0) !important;
}

.header.down .logo {
    top: 44px;
    width: 80px;
}

.header .logos a {
    max-width: 120px;
    -webkit-transition: all cubic-bezier(0, 1.01, 0.12, 1.01) 2s;
    transition: all cubic-bezier(0, 1.01, 0.12, 1.01) 2s;
}

.header .logos a:not(:first-child) {
    display: none;
}

.header .logos a.marca {
    max-width: 85px;
    min-width: 80px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.header .logos a.expansion {
    max-width: 96px;
    min-width: 86px;
}

.header .logos a.telva {
    max-width: 90px;
    min-width: 80px;
}

.header .logos a img {
    min-width: 80px;
}

.header .logos a:first-child {
    margin-right: 25px;
    margin-bottom: 4px;
}

.header .logos a img {
    display: block;
    width: 100%;
}

.header .logo {
    z-index: 99;
    position: fixed;
    /*top: 64px;*/
    top: 44px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    /*width: 160px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all cubic-bezier(0, 1.01, 0.12, 1.01) 2s;
    transition: all cubic-bezier(0, 1.01, 0.12, 1.01) 2s;
}

.header .logo a {
    display: block;
    font-family: ivymode, sans-serif;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: calc(24px + 0.2vw);
    line-height: 130%;
    font-weight: 300;
    letter-spacing: 1px;
    -webkit-transition: all cubic-bezier(0, 1.01, 0.12, 1.01) 2s;
    transition: all cubic-bezier(0, 1.01, 0.12, 1.01) 2s;
}

.header .logo a span {
    display: block;
    font-weight: 300;
    font-style: italic;
}

.header .menu {
    z-index: 99;
    position: fixed;
    top: 80px;
    right: 6vw;
    width: 118px;
    border-radius: 50%;
    -webkit-transition: all cubic-bezier(0, 1.01, 0.12, 1.01) 2s;
    transition: all cubic-bezier(0, 1.01, 0.12, 1.01) 2s;
}

.header .menu:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    background-color: #efedeb;
    -webkit-transform: scale3d(0.6, 0.6, 1);
    transform: scale3d(0.6, 0.6, 1);
    opacity: 0;
    border-radius: 50%;
    -webkit-transition: all cubic-bezier(0, 1.01, 0.12, 1.01) 3s;
    transition: all cubic-bezier(0, 1.01, 0.12, 1.01) 3s;
}

.header .menu:hover:before {
    -webkit-transform: scale3d(0.99, 0.99, 1);
    transform: scale3d(0.99, 0.99, 1);
    opacity: 1;
}

.header .menu.active span:first-child {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    pointer-events: none;
}

.header .menu.active span:last-child {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
}

.header .menu span {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 600;
    -webkit-transition: all cubic-bezier(0, 1.01, 0.12, 1.01) 2s;
    transition: all cubic-bezier(0, 1.01, 0.12, 1.01) 2s;
}

.header .menu span:last-child {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    pointer-events: none;
}

.article {
    padding-top: calc(100px + 8vw);
    margin-bottom: calc(20px + 5vw);
}

.article .article-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.article .article-wrapper .cta {
    max-width: 600px;
    text-align: center;
}

.article .article-wrapper .cta a {
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin: 0 auto;
    padding: 20px 40px;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
}

.article .article-wrapper .cta a:hover {
    border-color: #fff;
}

.article .article-wrapper .article-video {
    width: 50%;
    max-width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
    height: 80vh;
    padding: 0 20px;
    text-align: center;
}

.article .article-wrapper .article-video blockquote {
    width: 325px;
}

.article .article-wrapper .article-content {
    position: relative;
    width: 50%;
    max-width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding: 0 20px;
}

.article .article-wrapper .article-content .article-bg {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
}

.article .article-wrapper .article-content .article-bg img {
    width: 50%;
    position: absolute;
    right: 0;
}

.article .article-wrapper .article-content .ante {
    font-size: 18px;
    color: #ee1e52;
    margin-bottom: 10px;
}

.article .article-wrapper .article-content h2 {
    font-size: calc(22px + 2vw);
    font-weight: 600;
    line-height: 1.1;
    max-width: 800px;
    margin-bottom: 60px;
}

.article .article-wrapper .article-content a {
    color: #ee1e52;
}

.article .article-wrapper .article-content .article-autor {
    opacity: 0.5;
    margin: 0 0 20px 0;
}

.article .article-wrapper .article-content p {
    max-width: 600px;
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 160%;
    font-weight: 400;
}

.article .article-wrapper .article-content .featured {
    position: relative;
    background-color: #1b1b1b;
    margin: calc(20px + 3vw) 0;
}

.article .article-wrapper .article-content .featured .swiper-button-next,
.article .article-wrapper .article-content .featured .swiper-button-prev {
    top: -30px;
    right: 0;
    background-color: #ee1e52;
    width: 60px;
    height: 60px;
    margin-top: 0;
}

.article .article-wrapper .article-content .featured .swiper-button-next:after,
.article .article-wrapper .article-content .featured .swiper-button-prev:after {
    font-size: 22px;
    color: #fff;
}

.article .article-wrapper .article-content .featured .swiper-button-prev {
    left: 0;
}

.article .article-wrapper .article-content .featured .row {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.article .article-wrapper .article-content .featured .col-40 ul {
    padding: 20px;
}

.article .article-wrapper .article-content .featured .col-40 ul li {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 14px;
}

.article .article-wrapper .article-content .featured .col-40 ul li strong {
    font-weight: 400;
    opacity: 0.5;
}

.article .article-wrapper .article-content .featured .col-60 {
    padding: 60px 0 40px 0;
}

.article .article-wrapper .article-content .featured .col-60 ul {
    padding: 0 25px;
    margin: 0 auto;
    max-width: 500px;
}

.article .article-wrapper .article-content .featured .col-60 ul li {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 14px;
}

.article .article-wrapper .article-content .featured .col-60 ul li strong {
    font-weight: 400;
    opacity: 0.5;
}

.article .article-wrapper .article-content .featured h4 {
    padding: 0 25px;
    margin: 0 auto;
    max-width: 500px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}

.article .article-wrapper .article-content .featured h5 {
    padding: 0 25px;
    margin: 0 auto;
    max-width: 500px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
    text-decoration: underline;
    text-transform: uppercase;
}

.article .article-wrapper .article-content .featured p {
    padding: 0 25px;
    margin: 0 auto;
    max-width: 500px;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 30px;
}

.main {
    margin: 0 auto;
    padding: calc(100px + 5vw) 20px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
}

.main .main-article {
    position: relative;
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main .main-article .article-bg {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    bottom: 20%;
    left: 0;
    width: 100%;
}

.main .main-article .article-bg img {
    width: 30%;
    position: absolute;
    right: 10%;
    bottom: 20%;
}

.main .main-article:nth-child(even) {
    margin-top: 30%;
}

.main .main-article h2 {
    font-size: calc(22px + 1.5vw);
    font-weight: 600;
    line-height: 1.1;
    padding: 0 20px;
}

.main .main-article h2 a {
    color: #fff;
}

.main .main-article a {
    text-align: right;
    display: block;
    margin-top: 20px;
    color: #ee1e52;
    padding: 0 20px;
    text-decoration: none;
}

.main .main-article blockquote {
    width: 325px;
}

.main-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.main-title img {
    position: absolute;
    top: calc(100px + 25%);
    right: 20%;
    width: 20%;
}

.relateds {
    max-width: 1800px;
    margin: 0 auto;
}

.relateds .share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 60px;
}

.relateds .ante {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #ee1e52;
    margin-bottom: 10px;
}

.relateds h6 {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    font-size: calc(20px + 1.8vw);
    line-height: 120%;
    font-weight: 600;
    margin-bottom: 40px;
}

.relateds .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.relateds .row > div {
    margin: 0 30px;
}

.glitch,
.glow {
    padding: 0 2px;
    margin: calc(100px + 5vw) auto 0 auto;
    color: #fff;
    position: relative;
    font-size: calc(20px + 8vw);
    -webkit-animation: glitch 5s 5s infinite;
    animation: glitch 5s 5s infinite;
}

.glitch::before,
.glow::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -5px 0 #ee1e52;
    overflow: hidden;
    top: 0;
    -webkit-animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
    animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after,
.glow::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -5px 0 #68c9d0;
    overflow: hidden;
    top: 0;
    -webkit-animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

.glow {
    text-shadow: 0 0 1000px #68c9d0;
    color: transparent;
    position: absolute;
    top: 0;
}

.footer {
    width: 100%;
    margin: 0 auto;
    padding: calc(30px + 3vw) 0;
    margin-top: calc(20px + 20vw);
    position: relative;
    z-index: 100;
    color: #fff;
}

.footer .footer-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.footer .footer-content > a {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 140px;
    min-width: 120px;
    text-decoration: underline;
}

.footer .footer-content p {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    opacity: 1;
    letter-spacing: 0.5px;
}

.footer .footer-content a {
    color: #fff;
    text-decoration: underline;
}

.footer .footer-credits {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer .footer-credits li {
    font-weight: 200;
    margin: 0 10px;
    font-size: 14px;
    letter-spacing: 1px;
}

.footer .footer-credits li span {
    display: block;
    font-weight: 200;
    font-size: 14px;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    color: #68c9d0;
}

.videoWrapper {
    position: relative;
    height: 0 !important;
    padding-bottom: 70.25%;
    background-color: #000;
    margin-bottom: 40px;
}

.videoWrapper > div,
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.share {
    display: block;
    margin: 20px 0;
}

.share > span {
    display: block;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}

.share ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.share ul li a {
    margin: 0 5px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.share ul li a svg {
    width: 20px;
}


@media (max-width: 1300px) {
    .main .main-article {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        margin: 40px auto !important;
    }
}

@media (max-width: 1024px) {
    .article .article-wrapper .article-video {
        width: 325px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 325px;
        flex: 0 0 325px;
        max-width: none;
    }

    .article .article-wrapper .article-content {
        margin-left: 20px;
        padding: 0 20px;
        width: 60%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }
}

@media (max-width: 820px) {
    .article .article-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .article .article-wrapper .article-video {
        position: relative;
        height: auto;
    }

    .article .article-wrapper .article-video,
    .article .article-wrapper .article-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }

    .article .article-wrapper .article-video .featured,
    .article .article-wrapper .article-content .featured {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .article .article-wrapper .article-video .featured .col-40,
    .article .article-wrapper .article-video .featured .col-60,
    .article .article-wrapper .article-content .featured .col-40,
    .article .article-wrapper .article-content .featured .col-60 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }

    .article .article-wrapper .article-video .featured .col-40 figure img,
    .article .article-wrapper .article-video .featured .col-60 figure img,
    .article .article-wrapper .article-content .featured .col-40 figure img,
    .article .article-wrapper .article-content .featured .col-60 figure img {
        width: 100%;
    }

    .main .main-article {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .main .main-article div {
        width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .glitch,
    .glow,
    .glow {
        font-size: calc(22px + 5vw);
    }
}

@media (max-width: 720px) {
    .header .logos a img {
        width: 60px;
        min-width: 60px;
    }

    .header .logo {
        top: 70px;
    }

    .header .logo img {
        width: 90px;
    }

    .header .menu {
        width: auto;
    }

    .header .menu img {
        width: 80px;
    }
}

@-webkit-keyframes glitch {
    1% {
        -webkit-transform: rotateX(10deg) skewX(90deg);
        transform: rotateX(10deg) skewX(90deg);
    }

    2% {
        -webkit-transform: rotateX(0deg) skewX(0deg);
        transform: rotateX(0deg) skewX(0deg);
    }
}

@keyframes glitch {
    1% {
        -webkit-transform: rotateX(10deg) skewX(90deg);
        transform: rotateX(10deg) skewX(90deg);
    }

    2% {
        -webkit-transform: rotateX(0deg) skewX(0deg);
        transform: rotateX(0deg) skewX(0deg);
    }
}

@-webkit-keyframes noise-1 {
    3.33333% {
        -webkit-clip-path: inset(23px 0 24px 0);
        clip-path: inset(23px 0 24px 0);
    }

    6.66667% {
        -webkit-clip-path: inset(35px 0 28px 0);
        clip-path: inset(35px 0 28px 0);
    }

    10% {
        -webkit-clip-path: inset(30px 0 30px 0);
        clip-path: inset(30px 0 30px 0);
    }

    13.33333% {
        -webkit-clip-path: inset(18px 0 66px 0);
        clip-path: inset(18px 0 66px 0);
    }

    16.66667% {
        -webkit-clip-path: inset(42px 0 27px 0);
        clip-path: inset(42px 0 27px 0);
    }

    20% {
        -webkit-clip-path: inset(52px 0 18px 0);
        clip-path: inset(52px 0 18px 0);
    }

    23.33333% {
        -webkit-clip-path: inset(94px 0 7px 0);
        clip-path: inset(94px 0 7px 0);
    }

    26.66667% {
        -webkit-clip-path: inset(14px 0 85px 0);
        clip-path: inset(14px 0 85px 0);
    }

    30% {
        -webkit-clip-path: inset(55px 0 29px 0);
        clip-path: inset(55px 0 29px 0);
    }

    33.33333% {
        -webkit-clip-path: inset(92px 0 4px 0);
        clip-path: inset(92px 0 4px 0);
    }

    36.66667% {
        -webkit-clip-path: inset(35px 0 40px 0);
        clip-path: inset(35px 0 40px 0);
    }

    40% {
        -webkit-clip-path: inset(96px 0 4px 0);
        clip-path: inset(96px 0 4px 0);
    }

    43.33333% {
        -webkit-clip-path: inset(71px 0 4px 0);
        clip-path: inset(71px 0 4px 0);
    }

    46.66667% {
        -webkit-clip-path: inset(93px 0 7px 0);
        clip-path: inset(93px 0 7px 0);
    }

    50% {
        -webkit-clip-path: inset(75px 0 12px 0);
        clip-path: inset(75px 0 12px 0);
    }

    53.33333% {
        -webkit-clip-path: inset(21px 0 21px 0);
        clip-path: inset(21px 0 21px 0);
    }

    56.66667% {
        -webkit-clip-path: inset(83px 0 18px 0);
        clip-path: inset(83px 0 18px 0);
    }

    60% {
        -webkit-clip-path: inset(68px 0 4px 0);
        clip-path: inset(68px 0 4px 0);
    }

    63.33333% {
        -webkit-clip-path: inset(33px 0 59px 0);
        clip-path: inset(33px 0 59px 0);
    }

    66.66667% {
        -webkit-clip-path: inset(79px 0 18px 0);
        clip-path: inset(79px 0 18px 0);
    }

    70% {
        -webkit-clip-path: inset(55px 0 11px 0);
        clip-path: inset(55px 0 11px 0);
    }

    73.33333% {
        -webkit-clip-path: inset(44px 0 30px 0);
        clip-path: inset(44px 0 30px 0);
    }

    76.66667% {
        -webkit-clip-path: inset(60px 0 32px 0);
        clip-path: inset(60px 0 32px 0);
    }

    80% {
        -webkit-clip-path: inset(17px 0 84px 0);
        clip-path: inset(17px 0 84px 0);
    }

    83.33333% {
        -webkit-clip-path: inset(17px 0 61px 0);
        clip-path: inset(17px 0 61px 0);
    }

    86.66667% {
        -webkit-clip-path: inset(91px 0 4px 0);
        clip-path: inset(91px 0 4px 0);
    }

    90% {
        -webkit-clip-path: inset(42px 0 29px 0);
        clip-path: inset(42px 0 29px 0);
    }

    93.33333% {
        -webkit-clip-path: inset(15px 0 33px 0);
        clip-path: inset(15px 0 33px 0);
    }

    96.66667% {
        -webkit-clip-path: inset(80px 0 11px 0);
        clip-path: inset(80px 0 11px 0);
    }

    100% {
        -webkit-clip-path: inset(52px 0 6px 0);
        clip-path: inset(52px 0 6px 0);
    }
}

@keyframes noise-1 {
    3.33333% {
        -webkit-clip-path: inset(23px 0 24px 0);
        clip-path: inset(23px 0 24px 0);
    }

    6.66667% {
        -webkit-clip-path: inset(35px 0 28px 0);
        clip-path: inset(35px 0 28px 0);
    }

    10% {
        -webkit-clip-path: inset(30px 0 30px 0);
        clip-path: inset(30px 0 30px 0);
    }

    13.33333% {
        -webkit-clip-path: inset(18px 0 66px 0);
        clip-path: inset(18px 0 66px 0);
    }

    16.66667% {
        -webkit-clip-path: inset(42px 0 27px 0);
        clip-path: inset(42px 0 27px 0);
    }

    20% {
        -webkit-clip-path: inset(52px 0 18px 0);
        clip-path: inset(52px 0 18px 0);
    }

    23.33333% {
        -webkit-clip-path: inset(94px 0 7px 0);
        clip-path: inset(94px 0 7px 0);
    }

    26.66667% {
        -webkit-clip-path: inset(14px 0 85px 0);
        clip-path: inset(14px 0 85px 0);
    }

    30% {
        -webkit-clip-path: inset(55px 0 29px 0);
        clip-path: inset(55px 0 29px 0);
    }

    33.33333% {
        -webkit-clip-path: inset(92px 0 4px 0);
        clip-path: inset(92px 0 4px 0);
    }

    36.66667% {
        -webkit-clip-path: inset(35px 0 40px 0);
        clip-path: inset(35px 0 40px 0);
    }

    40% {
        -webkit-clip-path: inset(96px 0 4px 0);
        clip-path: inset(96px 0 4px 0);
    }

    43.33333% {
        -webkit-clip-path: inset(71px 0 4px 0);
        clip-path: inset(71px 0 4px 0);
    }

    46.66667% {
        -webkit-clip-path: inset(93px 0 7px 0);
        clip-path: inset(93px 0 7px 0);
    }

    50% {
        -webkit-clip-path: inset(75px 0 12px 0);
        clip-path: inset(75px 0 12px 0);
    }

    53.33333% {
        -webkit-clip-path: inset(21px 0 21px 0);
        clip-path: inset(21px 0 21px 0);
    }

    56.66667% {
        -webkit-clip-path: inset(83px 0 18px 0);
        clip-path: inset(83px 0 18px 0);
    }

    60% {
        -webkit-clip-path: inset(68px 0 4px 0);
        clip-path: inset(68px 0 4px 0);
    }

    63.33333% {
        -webkit-clip-path: inset(33px 0 59px 0);
        clip-path: inset(33px 0 59px 0);
    }

    66.66667% {
        -webkit-clip-path: inset(79px 0 18px 0);
        clip-path: inset(79px 0 18px 0);
    }

    70% {
        -webkit-clip-path: inset(55px 0 11px 0);
        clip-path: inset(55px 0 11px 0);
    }

    73.33333% {
        -webkit-clip-path: inset(44px 0 30px 0);
        clip-path: inset(44px 0 30px 0);
    }

    76.66667% {
        -webkit-clip-path: inset(60px 0 32px 0);
        clip-path: inset(60px 0 32px 0);
    }

    80% {
        -webkit-clip-path: inset(17px 0 84px 0);
        clip-path: inset(17px 0 84px 0);
    }

    83.33333% {
        -webkit-clip-path: inset(17px 0 61px 0);
        clip-path: inset(17px 0 61px 0);
    }

    86.66667% {
        -webkit-clip-path: inset(91px 0 4px 0);
        clip-path: inset(91px 0 4px 0);
    }

    90% {
        -webkit-clip-path: inset(42px 0 29px 0);
        clip-path: inset(42px 0 29px 0);
    }

    93.33333% {
        -webkit-clip-path: inset(15px 0 33px 0);
        clip-path: inset(15px 0 33px 0);
    }

    96.66667% {
        -webkit-clip-path: inset(80px 0 11px 0);
        clip-path: inset(80px 0 11px 0);
    }

    100% {
        -webkit-clip-path: inset(52px 0 6px 0);
        clip-path: inset(52px 0 6px 0);
    }
}

@-webkit-keyframes noise-2 {
    0% {
        -webkit-clip-path: inset(91px 0 2px 0);
        clip-path: inset(91px 0 2px 0);
    }

    3.33333% {
        -webkit-clip-path: inset(69px 0 26px 0);
        clip-path: inset(69px 0 26px 0);
    }

    6.66667% {
        -webkit-clip-path: inset(96px 0 2px 0);
        clip-path: inset(96px 0 2px 0);
    }

    10% {
        -webkit-clip-path: inset(54px 0 12px 0);
        clip-path: inset(54px 0 12px 0);
    }

    13.33333% {
        -webkit-clip-path: inset(35px 0 55px 0);
        clip-path: inset(35px 0 55px 0);
    }

    16.66667% {
        -webkit-clip-path: inset(49px 0 15px 0);
        clip-path: inset(49px 0 15px 0);
    }

    20% {
        -webkit-clip-path: inset(37px 0 20px 0);
        clip-path: inset(37px 0 20px 0);
    }

    23.33333% {
        -webkit-clip-path: inset(20px 0 54px 0);
        clip-path: inset(20px 0 54px 0);
    }

    26.66667% {
        -webkit-clip-path: inset(64px 0 32px 0);
        clip-path: inset(64px 0 32px 0);
    }

    30% {
        -webkit-clip-path: inset(84px 0 7px 0);
        clip-path: inset(84px 0 7px 0);
    }

    33.33333% {
        -webkit-clip-path: inset(24px 0 36px 0);
        clip-path: inset(24px 0 36px 0);
    }

    36.66667% {
        -webkit-clip-path: inset(54px 0 10px 0);
        clip-path: inset(54px 0 10px 0);
    }

    40% {
        -webkit-clip-path: inset(49px 0 7px 0);
        clip-path: inset(49px 0 7px 0);
    }

    43.33333% {
        -webkit-clip-path: inset(6px 0 10px 0);
        clip-path: inset(6px 0 10px 0);
    }

    46.66667% {
        -webkit-clip-path: inset(62px 0 26px 0);
        clip-path: inset(62px 0 26px 0);
    }

    50% {
        -webkit-clip-path: inset(68px 0 14px 0);
        clip-path: inset(68px 0 14px 0);
    }

    53.33333% {
        -webkit-clip-path: inset(48px 0 15px 0);
        clip-path: inset(48px 0 15px 0);
    }

    56.66667% {
        -webkit-clip-path: inset(31px 0 52px 0);
        clip-path: inset(31px 0 52px 0);
    }

    60% {
        -webkit-clip-path: inset(29px 0 49px 0);
        clip-path: inset(29px 0 49px 0);
    }

    63.33333% {
        -webkit-clip-path: inset(89px 0 2px 0);
        clip-path: inset(89px 0 2px 0);
    }

    66.66667% {
        -webkit-clip-path: inset(76px 0 21px 0);
        clip-path: inset(76px 0 21px 0);
    }

    70% {
        -webkit-clip-path: inset(46px 0 23px 0);
        clip-path: inset(46px 0 23px 0);
    }

    73.33333% {
        -webkit-clip-path: inset(33px 0 11px 0);
        clip-path: inset(33px 0 11px 0);
    }

    76.66667% {
        -webkit-clip-path: inset(100px 0 1px 0);
        clip-path: inset(100px 0 1px 0);
    }

    80% {
        -webkit-clip-path: inset(48px 0 50px 0);
        clip-path: inset(48px 0 50px 0);
    }

    83.33333% {
        -webkit-clip-path: inset(60px 0 39px 0);
        clip-path: inset(60px 0 39px 0);
    }

    86.66667% {
        -webkit-clip-path: inset(73px 0 4px 0);
        clip-path: inset(73px 0 4px 0);
    }

    90% {
        -webkit-clip-path: inset(43px 0 41px 0);
        clip-path: inset(43px 0 41px 0);
    }

    93.33333% {
        -webkit-clip-path: inset(20px 0 77px 0);
        clip-path: inset(20px 0 77px 0);
    }

    96.66667% {
        -webkit-clip-path: inset(44px 0 53px 0);
        clip-path: inset(44px 0 53px 0);
    }

    100% {
        -webkit-clip-path: inset(32px 0 29px 0);
        clip-path: inset(32px 0 29px 0);
    }
}

@keyframes noise-2 {
    0% {
        -webkit-clip-path: inset(91px 0 2px 0);
        clip-path: inset(91px 0 2px 0);
    }

    3.33333% {
        -webkit-clip-path: inset(69px 0 26px 0);
        clip-path: inset(69px 0 26px 0);
    }

    6.66667% {
        -webkit-clip-path: inset(96px 0 2px 0);
        clip-path: inset(96px 0 2px 0);
    }

    10% {
        -webkit-clip-path: inset(54px 0 12px 0);
        clip-path: inset(54px 0 12px 0);
    }

    13.33333% {
        -webkit-clip-path: inset(35px 0 55px 0);
        clip-path: inset(35px 0 55px 0);
    }

    16.66667% {
        -webkit-clip-path: inset(49px 0 15px 0);
        clip-path: inset(49px 0 15px 0);
    }

    20% {
        -webkit-clip-path: inset(37px 0 20px 0);
        clip-path: inset(37px 0 20px 0);
    }

    23.33333% {
        -webkit-clip-path: inset(20px 0 54px 0);
        clip-path: inset(20px 0 54px 0);
    }

    26.66667% {
        -webkit-clip-path: inset(64px 0 32px 0);
        clip-path: inset(64px 0 32px 0);
    }

    30% {
        -webkit-clip-path: inset(84px 0 7px 0);
        clip-path: inset(84px 0 7px 0);
    }

    33.33333% {
        -webkit-clip-path: inset(24px 0 36px 0);
        clip-path: inset(24px 0 36px 0);
    }

    36.66667% {
        -webkit-clip-path: inset(54px 0 10px 0);
        clip-path: inset(54px 0 10px 0);
    }

    40% {
        -webkit-clip-path: inset(49px 0 7px 0);
        clip-path: inset(49px 0 7px 0);
    }

    43.33333% {
        -webkit-clip-path: inset(6px 0 10px 0);
        clip-path: inset(6px 0 10px 0);
    }

    46.66667% {
        -webkit-clip-path: inset(62px 0 26px 0);
        clip-path: inset(62px 0 26px 0);
    }

    50% {
        -webkit-clip-path: inset(68px 0 14px 0);
        clip-path: inset(68px 0 14px 0);
    }

    53.33333% {
        -webkit-clip-path: inset(48px 0 15px 0);
        clip-path: inset(48px 0 15px 0);
    }

    56.66667% {
        -webkit-clip-path: inset(31px 0 52px 0);
        clip-path: inset(31px 0 52px 0);
    }

    60% {
        -webkit-clip-path: inset(29px 0 49px 0);
        clip-path: inset(29px 0 49px 0);
    }

    63.33333% {
        -webkit-clip-path: inset(89px 0 2px 0);
        clip-path: inset(89px 0 2px 0);
    }

    66.66667% {
        -webkit-clip-path: inset(76px 0 21px 0);
        clip-path: inset(76px 0 21px 0);
    }

    70% {
        -webkit-clip-path: inset(46px 0 23px 0);
        clip-path: inset(46px 0 23px 0);
    }

    73.33333% {
        -webkit-clip-path: inset(33px 0 11px 0);
        clip-path: inset(33px 0 11px 0);
    }

    76.66667% {
        -webkit-clip-path: inset(100px 0 1px 0);
        clip-path: inset(100px 0 1px 0);
    }

    80% {
        -webkit-clip-path: inset(48px 0 50px 0);
        clip-path: inset(48px 0 50px 0);
    }

    83.33333% {
        -webkit-clip-path: inset(60px 0 39px 0);
        clip-path: inset(60px 0 39px 0);
    }

    86.66667% {
        -webkit-clip-path: inset(73px 0 4px 0);
        clip-path: inset(73px 0 4px 0);
    }

    90% {
        -webkit-clip-path: inset(43px 0 41px 0);
        clip-path: inset(43px 0 41px 0);
    }

    93.33333% {
        -webkit-clip-path: inset(20px 0 77px 0);
        clip-path: inset(20px 0 77px 0);
    }

    96.66667% {
        -webkit-clip-path: inset(44px 0 53px 0);
        clip-path: inset(44px 0 53px 0);
    }

    100% {
        -webkit-clip-path: inset(32px 0 29px 0);
        clip-path: inset(32px 0 29px 0);
    }
}

@-webkit-keyframes fudge {
    from {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    to {
        -webkit-transform: translate(0px, 2%);
        transform: translate(0px, 2%);
    }
}

@keyframes fudge {
    from {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    to {
        -webkit-transform: translate(0px, 2%);
        transform: translate(0px, 2%);
    }
}

@-webkit-keyframes glitch-2 {
    1% {
        -webkit-transform: rotateX(10deg) skewX(70deg);
        transform: rotateX(10deg) skewX(70deg);
    }

    2% {
        -webkit-transform: rotateX(0deg) skewX(0deg);
        transform: rotateX(0deg) skewX(0deg);
    }
}

@keyframes glitch-2 {
    1% {
        -webkit-transform: rotateX(10deg) skewX(70deg);
        transform: rotateX(10deg) skewX(70deg);
    }

    2% {
        -webkit-transform: rotateX(0deg) skewX(0deg);
        transform: rotateX(0deg) skewX(0deg);
    }
}

/*# sourceMappingURL=main.css.map */
