<?php

//configurations file
$GLOBALS['env'] = [
    'env' => 'stagging',
    'debug' => true,
    'db' => [
        'dbdriver' => 'mysql',
        'dbhost' => 'localhost',
        'dbport' => 3306,
        'dbname' => '',
        'dbuser' => '',
        'dbpass' => '',
        'dbcharset' => 'utf8',
    ]
];
