<?php
$GLOBALS['env'] = [
    'edebug' => getenv('APP_DEBUG'),
    'env' => getenv('APP_ENV'),
    'db' => [
        'dbdriver' => 'mysql',
        'dbhost' => getenv('UECLUSTER_DB_HOST'),
        'dbport' => getenv('UECLUSTER_DB_PORT'),
        'dbname' => getenv('UECLUSTER_DB_NAME'),
        'dbuser' => getenv('UECLUSTER_DB_USER'),
        'dbpass' => getenv('UECLUSTER_DB_PASSWORD'),
        'dbcharset' => 'utf8',
    ]
];
